$secondary-color: white;
$primary-color: #2C2A4A;
$tertiary-color: rgb(89, 89, 89);

$small-font: 14px;
$medium-font: 18px;
$medium-large-font: 22px;
$large-font: 36px;
$x-large-font: 48px;

$x-small-curve: 2px;
$small-curve: 6px;
$medium-curve: 15px;